span.name {
    font-family: "Yanone Kaffeesatz",Arial,sans-serif !important;
    font-size: 30px !important;
}

/*.name {
    font-family: Arial !important;
    font-size: 30px !important;
}*/

hr {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    height: 1px;
    line-height: 1px;
    margin-bottom: 20px;
    margin-top: -8px;
    padding: 0;
}
a {
    outline: medium none;
}
#fancybox-content {
    border-color: rgba(0, 0, 0, 0.0) !important;
    border-width: 10px !important;
    height: auto !important;
    width: 698px !important;
    box-shadow: 0 0 15px #4E96D1;
}
#fancybox-outer {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7) !important;
    height: 100%;
    position: relative;
    width: 100%;
}
/*#content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border: 1px solid #CBCBCB;
    margin: 40px auto;
    padding: 0 60px 30px;
    width: 720px;
}*/
#fancybox-outer {
    border-radius: 10px 10px 10px 10px;
}
#fancybox-content {
    border: 0 none;
    padding: 10px;
}
.bio img {
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: auto 0;
}
.bio img.swapImage {
    margin-right: 3px;
}
.bio .text {
    float: right;
    margin-left: 1em;
    margin-right: 5px;
    width: 290px;
}
.bio .text .name {
    display: block;
    font-size: 1.725em;
    font-weight: 600;
    margin-bottom: 0.1em;
    margin-top: 0.25em;
}
.bio .text .job-title {
    color: #777777;
    display: block;
    font-size: 1.25em;
    font-style: italic;
    margin-bottom: -15px;
}
.bio .text .department {
    color: #4E96D1;
    display: block;
}
.bio div.text div.contactInfo {
    margin: 10px 0;
}
.bio .text a {
    color: #c9c9c9;
    text-decoration: none;
}
.bio .text a:hover {
    color: #4E96D1;
}
#profile-holder {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    border: 1px solid #666;
    box-shadow: 0 0 10px #555;
    display: inline-table;
    margin: 0 20px 35px 35px;
    padding: 5px 4px 0px;
}
#profile-name {
    border-bottom: 1px solid #666;
    color: #4E96D1;
    display: block;
    font-family: sans-serif,verdana;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 3px;
    text-align: center;
}
.profile {
  background: transparent;
}
img.swapImage {
    border: 1px solid transparent;
}
img.swapImage, #profile-holder {
    border-radius: 3px 3px 3px 3px;
}
#profile-holder:hover {
    border: 1px solid #4E96D1;
    box-shadow: 0 0 10px #4E96D1;
}
.text {
    border-left: 1.5px solid #4E96D1;
    height: 400px;
    padding-left: 10px;
}
#fancybox-wrap {
    width: 720px !important;
}
#fancybox-content {
    width: 700px !important;
}
.blurb {
    border: 0 dashed #0099CC;
    height: 260px;
    overflow: visible;
    padding: 0 10px 0 0;
    clear: both;
}
.blurb a{
    text-decoration: underline !important;
}
#snetworks {
    text-align: center;
}
